<div class="admin">
  <aside class="nav">
    <div class="brand">
      <div class="logo"><i class="pi pi-building"></i></div>
      <div>
        <div class="t1">Кайзервальд</div>
        <div class="t2">Панель керування</div>
      </div>
    </div>

    <a routerLink="/admin/booking" routerLinkActive="active" class="item">
      <i class="pi pi-inbox"></i><span>Заявки</span>
    </a>
    <a routerLink="/admin/rooms" routerLinkActive="active" class="item">
      <i class="pi pi-home"></i><span>Номери</span>
    </a>

    <div class="spacer"></div>

    <button
      type="button"
      pButton
      class="logout"
      icon="pi pi-sign-out"
      label="Вийти"
      (click)="logout()"
    ></button>

  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
